.formCategory {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn_ok {
  margin: 35px 0px;
}

.create_category_box {
  margin-top: 10px;

}
.elemento {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 2%;
}
.create_category_box-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.create_category_box-form div {
  margin: 5px 0px
}

.create_category_box-form label {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px 10px;
}

.create_category_box-form button {
  margin: 20px;
}

.list_categories {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.list_categories-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  margin-left: -13%;
  padding: 0px;
  list-style-type: none;
}

ul li {
  margin: 5px;
  padding: 8px;
}