<div class="location_pag">
  <span>Inicio/ Documentos</span>
</div>

<div *ngIf="isAdmin">

  <!-- Creacion de documentos -->
  <h2 class="titulo">CREAR NUEVO DOCUMENTO</h2>
  <form [formGroup]="documentForm" class="formulario">
    <div>
      <div class="elemento">
        <label for="name">Nombre*</label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div>
        <div class="elemento">
          <label for="description">Descripción*</label>
          <input id="description" type="text" formControlName="description">
        </div>
      </div>

      <div class="elemento">
        <label for="category">Categoria*</label>
        <select id="category" type="text" formControlName="category" (change)="getSubcategoriesByCategory()">
          <option value="0">Selecciona una categoria</option>
          <option *ngFor="let item of categories">{{item.categoryName}}</option>
        </select>
      </div>

      <div class="elemento">
        <label for="subcategory">SubCategoria</label>
        <select id="subcategory" type="text" formControlName="subcategory">
          <option value="0">Selecciona una subcategoria</option>
          <option *ngFor="let item of subcategories">{{item.subCategoryName}}</option>
        </select>
      </div>

      <p>
        <label for="uploads">Elige el documento a cargar:</label>
        <input (change)="onFileSelected($event)" type="file" id="uploads" name="uploads"
          accept=".docx, .doc, .pdf, .xlsx, .pptx" formControlName="upload">
      </p>

    </div>
    <button type="submit" (click)="sendToStorage()" class="btn_ok" [disabled]="documentForm.invalid">Guardar</button>
  </form>

</div>

<!-- Consulta de documentos -->

<div>
  <h2 class="titulo">CONSULTAR DOCUMENTOS</h2>
</div>

<!-- Filtros -->
<div class="box_form_filtros">
  <form [formGroup]="finDocumentForm">
    <div>
      <label for="categoryFilter">Categoria*</label>
      <select id="categoryFilter" type="text" formControlName="categoryFilter"
        (change)="getSubcategoriesByCategoryFilter()">
        <option value="0">Selecciona una categoria</option>
        <option *ngFor="let item of categories">{{item.categoryName}}</option>
      </select>
    </div>
    <div>
      <label for="subcategoryFilter">SubCategoria</label>
      <select id="subcategoryFilter" type="text" formControlName="subcategoryFilter">
        <option value="0"></option>
        <option *ngFor="let item of subcategoriesFilter">{{item.subCategoryName}}</option>
      </select>
    </div>
    <button class="btn_ok" type="submit" (click)="filterDocumentBy()">Buscar</button>
  </form>
</div>

<!-- Tabla que contiene los documentos creados -->
<div>

  <table>

    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>SubCategoria</th>
      <th>Version</th>
      <!-- <th>Hora creación</th> -->
      <th>Fecha de creación</th>
      <!--<th>Fecha de actualizacion</th> -->
      <th>Propiedades</th>
    </tr>

    <tr *ngFor="let item of documentsList | paginate: { itemsPerPage: 50, currentPage: page }">

      <td>{{item.name}}</td>
      <td>{{item.categoryId}}</td>
      <td>{{item.subCategoryName}}</td>
      <td>{{item.version}}</td>
      <td>{{item.dateCreated | date}}</td>

      <td class="icons_actions">
        <button class="boton-menu"
          (click)="viewModalDetailsDocument(item.name,item.categoryId,item.subCategoryName,item.version,item.dateCreated,item.blockChainId,item.description)">
          <img src="/assets/images/circle-plus.svg" alt="" class="icon plus">
        </button>
        <button class="boton-menu" (click)="goToViewSelectedDocument(item.pathDocument, item.name)"><img
            src="/assets/images/eye.svg" alt="" class="icon eye"></button>

        <button *ngIf="isAdmin" class="boton-menu" (click)="confirmUpdateDocument(item.uuid)" (click)="setNameDocumentToUpdate(item.name)"> <img
            src="/assets/images/update-alt.svg" alt="" class="icon"></button>

        <button *ngIf="!isAdmin && !isUser" class="boton-menu" (click)="showModalRequireLogin = true"><img
            src="/assets/images/download.svg" alt="" class="icon"></button>

        <button *ngIf="isAdmin || isUser" class="boton-menu"> <a (click)="downloadDoc(item.uuid)"
            download="{{item.name}}" href="{{item.pathDocument}}"><img src="/assets/images/download.svg" alt=""
              class="icon"></a></button>

        <button *ngIf="isAdmin" class="boton-menu" (click)="confirmDeleteDocument(item.uuid,item.name)"><img
            src="/assets/images/delete.svg" alt="" class="icon"></button>
      </td>

    </tr>

  </table>

</div>

<!-- Botones de paginacion de la tabla -->
<div>
  <div class="paginacion">
    <pagination-controls (pageChange)="page = $event" previousLabel="Atrás" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>

<!-- Modal de aviso requerimientos de documentos-->
<div class="modal" *ngIf="showModalRequiresDocument">
  <div class="modal_body">
    <span class="modal_body-title">Información</span>
    <p class="modal_body-msj">
      Solo se pueden subir documentos de tipo PDF, Word, PowerPoint y Excel. Su tamaño no puede ser mayor a 1 MB.
    </p>
    <button (click)="showModalRequiresDocument = false" class="modal_body-btn btn_ok">Entendido</button>
  </div>
</div>

<!-- Modal de aviso documento guardado -->
<div class="modal" *ngIf="showModalSaveDocument">
  <div class="modal_body">
    <span class="modal_body-title">Información</span>
    <p class="modal_body-msj">
      Documento guardado Exitosamente!
    </p>
    <button (click)="showModalSaveDocument = false" class="modal_body-btn btn_ok">Entendido</button>
  </div>
</div>

<!-- Modal de aviso ver detalles documento -->
<div class="modal" *ngIf="showModalDetailsDocument">
  <div class="modal_body">
    <span class="modal_body-title">Detalles del documento</span>

    <div class="modal_body-msj">
      <ul>
        <li><span class="bold">Nombre del documento: </span> {{modalInfoNombre}}</li>
        <li><span class="bold">Categoria del documento: </span> {{modalInfoCategoria}}</li>
        <li><span class="bold">Subcategoria del documento: </span>{{modalInfoSubcategoria}}</li>
        <li><span class="bold">Version:</span> {{modalInfoVersion}}</li>
        <li><span class="bold">Fecha de creación: </span> {{modalInfoFecha | date:'dd/MM/yyyy'}}</li>
        <li><span class="bold">Hora de creación: </span> {{modalInfoFecha | date:'h:mm a':'UTC -5'}}</li>
        <li><span class="bold">Registro blockchain: </span> {{modalInfoBlockChain}}</li>
        <li><span class="bold">Descripción:</span> {{modalInfoDesription}}</li>
      </ul>
    </div>
    <button (click)="showModalDetailsDocument = false" class="modal_body-btn btn_ok">Entendido</button>
  </div>
</div>

<!-- Modal de aviso iniciar sesion -->
<div class="modal" *ngIf="showModalRequireLogin">
  <div class="modal_body">
    <span class="modal_body-title">¡Necesitas iniciar sesion!</span>
    <p class="modal_body-msj">
      Para poder visualizar los elementos debes iniciar sesion con una cuenta registrada
    </p>
    <button (click)="goToLogin()" class="modal_body-btn btn_ok">Iniciar sesion</button>
    <button (click)="showModalRequireLogin = false" class="modal_body-btn btn_cancel">Cancelar</button>
  </div>
</div>

<!-- Modal de aviso 5 Actualizar -->
<div class="modal" *ngIf="showModalActualizarDocument">
  <div class="modal_body">
    <form action="" [formGroup]="updateDocumentForm" class="formulario">
      <span class="modal_body-title">Actualizar información del documento</span>
      <div class="modal_body-msj">
        <div>

          <div class="elemento">
            <label for="name">Nombre:</label>
            <input id="name" type="text" formControlName="nameUpdate">
          </div>

          <div>
            <div class="elemento">
              <label for="description">Descripción:</label>
              <input id="description" type="text" formControlName="descriptionUpdate">
            </div>
          </div>
          <p>
            <label for="uploads">Elige el documento a cargar:</label>
            <input (change)="onFileSelected($event)" type="file" id="uploads" name="uploads"
              accept=".docx, .doc, .pdf, .xlsx, .pptx" formControlName="uploadUpdate">
          </p>
        </div>
      </div>
      <div class="butttons_update">
        <button type="submit" (click)="updateDocument()" class="modal_body-btn btn_ok">Guardar</button>
        <button (click)="showModalActualizarDocument = false" class="modal_body-btn btn_cancel">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de aviso documento actualizado -->
<div class="modal" *ngIf="showModalUpdatedDocument">
  <div class="modal_body">
    <span class="modal_body-title">¡Actualizado!</span>
    <p class="modal_body-msj">
      Documento actualizado correctamente
    </p>
    <button (click)="showModalUpdatedDocument = false" class="modal_body-btn btn_ok">Confirmar</button>
  </div>
</div>

<!-- Modal de aviso eliminar -->
<div class="modal" *ngIf="showModalDeleteDocument">
  <div class="modal_body">
    <span class="modal_body-title">¿Seguro que deseas eliminar?</span>
    <p class="modal_body-msj">
      Una vez eliminado este documento no podras acceder ni a su informacion ni a su contenido
    </p>
    <button (click)="deleteDocument()" class="modal_body-btn btn_ok">Confirmar</button>
    <button (click)="showModalDeleteDocument = false" class="modal_body-btn btn_cancel">Cancelar</button>
  </div>
</div>

<!-- Modal de inicio de sesion -->

<div class="modal" *ngIf="showModalNoUserRequireLogin">
  <div class="modal_body">

    <span class="modal_body-title">Inicia sesion para visualizar</span>

    <form class="formNoUserRequireLogin">

      <!-- <div class="inputFormNoUserRequireLogin">

        <label for="email">Correo Electrónico</label>
        <input type="email" name="email" id="email_user">

        <label for="password">Contraseña</label>
        <input type="text">

      </div> -->

      <button class="btn_login_google" (click)="loginWithGoogle()">
        Iniciar sesión
        <img src="/assets/images/logo_google.png" alt="Logo google">
      </button>

      <footer>Presiones Esc para salir</footer>

    </form>

  </div>
</div>

<!-- Modal de inicio de sesion -->

<div class="modal" *ngIf="showModalNoUser">
  <div class="modal_body">
      <span class="modal_body-title">Usuario no registrado</span>
      <p class="modal_body-msj">
          No encontramos un usuario registrado con tus
          credenciales, por favor comunicate con tu administrador.
      </p>
      <button (click)="showModalNoUser = false" class="btn_ok modal_body-btn">Entendido</button>
  </div>
</div>

<!-- Modal de cargar documento + archivo -->
<div class="modal" *ngIf="showModalNoDocAndName">
  <div class="modal_body">
      <span class="modal_body-title">Si desea realizar el cambio de nombre debe ingresar un nuevo documento</span>
      <p class="modal_body-msj">
          Por motivos tecnicos en nuestra base de datos debe añadir un nuevo archivo al cambiar el nombre del mismo
      </p>
      <button (click)="showModalNoDocAndName = false" class="btn_ok modal_body-btn">Entendido</button>
  </div>
</div>

<!-- Modal  nada seleccionado -->
<div class="modal" *ngIf="showModalNothingSelected">
  <div class="modal_body">
      <span class="modal_body-title">No has selecionado nada</span>
      <p class="modal_body-msj">
          Debes seleccionar la casilla que quieras actualizar
      </p>
      <button (click)="showModalNothingSelected = false" class="btn_ok modal_body-btn">Entendido</button>
  </div>
</div>

