.titulo {
    display: block;
    text-align: center;
    background-color: var(--color-secondary);
    color: white;
    height: 100%;
    padding: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elemento {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.boton {
    margin-top: 15px;
}

.documentos {
    display: flex;
    align-items: center;
}

.lista {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.paginacion {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors-container {
    font-size: 0.75rem;
    color: #bd0c0c;
    margin-bottom: 16px;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
}

/* Formulario consultar documentos */

.box_form_filtros {
    width: 100%;
}

.box_form_filtros form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box_form_filtros button {
    margin: 10px;
}

/* Modal update */

.butttons_update {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.butttons_update button {
    margin: 4px;
}

.btn_login_google {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid gray;
    background: white;
    border-radius: var(--border-radius_gen);
    cursor: pointer;
}

.btn_login_google img {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.no-account-msj span {
    font-weight: bold;
    color: var(--color-options);
    cursor: pointer;
}

/* loader */

/* From uiverse.io by @gagan-gv */
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
 }

 .loader::before,
 .loader::after {
  content: '';
  border: 7px solid #ec7e14;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  animation: loader 2s linear infinite;
  opacity: 0;
 }

 .loader::before {
  animation-delay: 1s;
 }

 @keyframes loader {
  0% {
   transform: scale(1);
   opacity: 0;
  }

  50% {
   opacity: 1;
  }

  100% {
   transform: scale(0);
   opacity: 0;
  }
 }
