<div class="location_pag">
  <span>Inicio/ Documentos</span>
</div>

<div *ngIf="isAdmin">

  <!-- Creacion de documentos -->

  <h2 class="titulo">CREAR NUEVO DOCUMENTO</h2>

  <form [formGroup]="documentForm" class="formulario">
    <div class="justify-left">
      <div class="elemento">
        <label for="name">Nombre*</label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div class="justify-left">
        <div class="elemento">
          <label for="description">Descripción*</label>
          <input id="description" type="text" formControlName="description">
        </div>
      </div>

      <div class="elemento">
        <label for="category">Categoria*</label>
        <select id="category" type="text" formControlName="category" (change)="getSubcategoriesByCategory()">
          <option value="0">Selecciona una categoria</option>
          <option *ngFor="let item of categories">{{item.categoryName}}</option>
        </select>
      </div>

      <div class="elemento">
        <label for="subcategory">SubCategoria</label>
        <select id="subcategory" type="text" formControlName="subcategory">
          <option value="0">Selecciona una subcategoria</option>
          <option *ngFor="let item of subcategories">{{item.subCategoryName}}</option>
        </select>
      </div>

      <p>
        <label for="uploads">Elige el documento a cargar:</label>
        <input (change)="onFileSelected($event)" type="file" id="uploads" name="uploads"
          accept=".docx, .doc, .pdf, .xlsx, .pptx" formControlName="upload">

      </p>

    </div>
    <button type="submit" (click)="submit()" (click)="sendToStorage()" class="btn_ok"
      [disabled]="documentForm.invalid">Guardar</button>
  </form>

  <!-- Modal de aviso -->

  <div class="modal" *ngIf="showModalNoUser">
    <div class="modal_body">
      <span class="modal_body-title">Información</span>
      <p class="modal_body-msj">
        Solo se pueden subir documentos de tipo PDF, Word, PowerPoint y Excel. Su tamaño no puede ser mayor a 1 MB.
      </p>
      <button (click)="revealForm()" class="modal_body-btn btn_ok">Entendido</button>
    </div>
  </div>
</div>
<!-- Modal de aviso2 -->
<div class="modal" *ngIf="showModalNoUser2">
  <div class="modal_body">
    <span class="modal_body-title">Información</span>
    <p class="modal_body-msj">
      Documento guardado Exitosamente!
    </p>
    <button (click)="revealForm2()" class="modal_body-btn btn_ok">Entendido</button>
  </div>
</div>

<!-- Consulta de documentos -->

<div>
  <h2 class="titulo">CONSULTAR DOCUMENTOS</h2>
</div>

<!-- Filtros -->
<form [formGroup]="finDocumentForm" class="formulario">
  <div class="lista">
    <div class="elemento-lista">
      <label for="categoryFilter">Categoria*</label>
      <select id="categoryFilter" type="text" formControlName="categoryFilter" (change)="getSubcategoriesByCategoryFilter()">
        <option value="0">Selecciona una categoria</option>
        <option *ngFor="let item of categories">{{item.categoryName}}</option>
      </select>
    </div>
  </div>
  <div class="elemento-lista">
    <label for="subcategoryFilter">SubCategoria</label>
        <select id="subcategoryFilter" type="text" formControlName="subcategoryFilter">
          <option value="0">Selecciona una subcategoria</option>
          <option *ngFor="let item of subcategoriesFilter">{{item.subCategoryName}}</option>
        </select>
  </div>
  <button type="submit" (click)="filterDocumentBy()">Buscar</button>
</form>




<!-- Tabla que contiene los documentos creados -->

<div>

  <table class="default">

    <tr>
      <th>Nombre</th>
      <th>Categoria/subCategoria</th>
      <th>Version</th>
      <!-- <th>Hora creación</th> -->
      <th>Fecha de creación</th>
      <!--<th>Fecha de actualizacion</th> -->
      <th>Propiedades</th>
    </tr>

    <tr *ngFor="let item of documentsList">

      <td>{{item.name}}</td>
      <td>{{item.categoryId}}/{{item.subCategoryName}}</td>
      <td>{{item.version}}</td>
      <td>{{item.dateCreated | date}}</td>


      <td>
        <button class="boton-menu"> <img src="/assets/images/masicon.png" alt="" class="icono"></button>
        <!-- <button class="boton-menu"> View <img src="/assets/images/report-icon.svg" alt="" class="icono"></button> -->
        <button class="boton-menu" (click)="goToViewSelectedDocument(item.pathDocument)"><img src="/assets/images/vericon.png" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/actualizaricon.png" alt="" class="icono"></button>
        <a download= "{{item.name}}" href="{{item.pathDocument}}" class="boton-menu"> <img src="/assets/images/descargarIcon.png" alt="" class="icono"></a>
        <button class="boton-menu" (click)="deleteDocument(item.uuid)"> <img src="/assets/images/eliminarIcon.png" alt="" class="icono"></button>
      </td>

    </tr>

  </table>

</div>

<!-- Botones de paginacion de la tabla -->

<div>
  <div class="paginacion">
    <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
    <h3>Paginacón</h3>
    <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
  </div>
</div>

