<div *ngIf="isAdmin">

  <h2 class="titulo">CREAR NUEVO DOCUMENTO</h2>

  <form [formGroup]="documentForm" class="formulario">
    <div class="justify-left">
      <div class="elemento">
        <label for="name">Nombre*</label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div class="justify-left">
        <div class="elemento">
          <label for="description">Descripción*</label>
          <input id="description" type="text" formControlName="description">
        </div>
      </div>

      <div class="elemento">
        <label for="category">Categoria*</label>
        <input id="category" type="text" formControlName="category">
      </div>

      <div class="elemento">
        <label for="subcategory">SubCategoria</label>
        <input id="subcategory" type="text" formControlName="subcategory">
      </div>

      <p>
        <label for="uploads">Elige el documento a cargar:</label>
        <input (change)="onFileSelected($event)" type="file" id="uploads" name="uploads"
          accept=".docx, .doc, .pdf, .xlsx, .pptx" formControlName="upload">
      </p>
    </div>
    <button type="submit" (click)="submit()" class="btn_ok" [disabled]="documentForm.invalid">Guardar</button>
  </form>
<!-- Modal de aviso -->
  <div class="modal" *ngIf="showModalNoUser">
    <div class="modal_body">
      <span class="modal_body-title">Información</span>
      <p class="modal_body-msj">
        Solo se pueden subir documentos de tipo PDF, Word, PowerPoint y Excel. Su tamaño no puede ser mayor a 1 MB.
      </p>
      <button (click)="revealForm()" class="modal_body-btn btn_ok">Entendido</button>
    </div>
  </div>
</div>
<!-- Modal de aviso2 -->
<div class="modal" *ngIf="showModalNoUser2">
  <div class="modal_body">
    <span class="modal_body-title">Información</span>
    <p class="modal_body-msj">
      Documento guardado Exitosamente!
    </p>
    <button (click)="revealForm2()" class="modal_body-btn btn_ok">Entendido</button>
  </div>
</div>

<div>
  <h2 class="titulo">CONSULTAR DOCUMENTOS</h2>
</div>

<div class="lista">
  <div class="elemento-lista">
    <h4>Categoria</h4>
    <select name="color" id="color">
      <option value="r">Rojo</option>
      <option value="a">Azul</option>
      <option value="v">Verde</option>
    </select>
  </div>

  <div class="elemento-lista">
    <h4>Subcategoria</h4>
    <select name="color" id="color">
      <option value="r">Rojo</option>
      <option value="a">Azul</option>
      <option value="v">Verde</option>
    </select>
  </div>
</div>
<div>
  <table class="default">

    <tr>

      <th>Nombre</th>

      <th>Cat/subCat</th>

      <th>Version</th>

      <th>Hora creación</th>

      <th>Fecha de creación</th>

      <th>Fecha de actualizacion</th>

      <th>Propiedades</th>

    </tr>

    <tr>

      <td>Doc1</td>

      <td>categoria17subcategoria2</td>

      <td>3</td>

      <td>03/03/2022</td>

      <td>13:00</td>

      <td>03/03/2022</td>

      <td>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> XD <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
      </td>

    </tr>

    <tr>

      <td>Doc1</td>

      <td>categoria17subcategoria2</td>

      <td>3</td>

      <td>03/03/2022</td>

      <td>13:00</td>

      <td>03/03/2022</td>

      <td>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
      </td>

    </tr>

    <tr>

      <td>Doc1</td>

      <td>categoria17subcategoria2</td>

      <td>3</td>

      <td>03/03/2022</td>

      <td>13:00</td>

      <td>03/03/2022</td>

      <td>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
      </td>

    </tr>



  </table>



</div>

<div>
  <div class="paginacion">
    <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
    <h3>Paginacón</h3>
    <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
  </div>

</div>
<!-- <div>
  <label for="">Preview</label>
  <div>
    <embed [src]="imagePrevius" [type]="docType">
       <iframe [src]="imagePrevius"></iframe>
       <img width="100px" [src]="imagePrevius" alt="">
  </div>
</div> -->
