.titulo {
    display: block;
    text-align: center;
    background-color: var(--color-secondary);
    color: white;
    height: 100%;
    padding: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elemento {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.boton {
    margin-top: 15px;
}

.documentos {
    display: flex;
    align-items: center;
}

.lista {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.paginacion {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors-container {
    font-size: 0.75rem;
    color: #bd0c0c;
    margin-bottom: 16px;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
}

/* Formulario consultar documentos */

.box_form_filtros {
    width: 100%;
}

.box_form_filtros form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box_form_filtros button {
    margin: 10px;
}

/* Modal update */

.butttons_update {
    display: flex;

}