<div class="location_pag">
  <span>Inicio/ Categorias</span>
</div>
<div class="formCategory">
  <button class="btn_ok" (click)="revealForm()">CREAR NUEVA CATEGORÍA</button>
  <div class="create_category_box" *ngIf="formState">
    <form class="create_category_box-form" (ngSubmit)="createCategory(body)">
      <label for="text_new_category">Nombre</label>
      <input type="text" name="text_new_category" [(ngModel)]="category.categoryName" required="">
      <button class="btn_cancel" type="submit">Guardar</button>
    </form>
  </div>
</div>

<div class="list_categories">
  <span class="list_categories-title">Listado de Categorias</span>
  <ul *ngFor="let item of categories">
    <li>{{item.categoryName}}</li>
  </ul>
</div>
