@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* https://icon-sets.iconify.design/gg/menu/ */

:root {
    --color-primary: #050531;
    --color-secondary: #ec7e14;
    --color-gray: #D9D9D9;
    --color-gray-2: #d9d9d988;
    --color-options: #2520ff;
    --border-radius_gen: 6px;
    --color-reports: #257b4c;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.container form label,
.container form input {
    display: block;
}

button,
input {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    background: var(--color-gray-2);
    border: none;
    padding: 8px 5px;
    border-radius: var(--border-radius_gen);
}

select {
    font-size: 1.05rem;
    padding: 6px;
}

ul {
    padding: 0px;
}

ul li {
    font-size: 1.1rem;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

/* TABLE */

table {
    margin: 10px auto;
    width: 98vw;
    justify-content: center;
    border: 1px solid gray;
    overflow-x: scroll;
}

table tr:nth-child(odd) {
    background: var(--color-gray-2);
}

table tr th,
table tr td {
    padding: 10px;
    text-align: center;
}

table tr .icons_actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table tr td .boton-menu {
    border: none;
    background: transparent;
    border-radius: 4px;
    padding: 4px 6px;
    transition: all 0.5s ease-in-out;
}

table tr td .boton-menu:hover {
    transform: scale(1.1);
}

table tr td .icon {
    width: 24px;
    height: 24px;
}

table tr td .eye {
    width: 30px;
    height: 28px;
}

/* BUTTON */

button:disabled,
input[type="submit"]:disabled {
    background-color: #ec7c149b;
    cursor: not-allowed;
}

/* LABEL FORM */
form label {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0px 10px;
}

.btn_ok,
.btn_cancel {
    padding: 10px 15px;
    border-radius: var(--border-radius_gen);
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
}

.btn_ok {
    background: var(--color-secondary);
    border: none;
    color: white;
}

.btn_report {
    background: var(--color-reports);
    border: none;
    color: white;
}

.btn_ok:hover {
    box-shadow: 0px 0px 6px var(--color-secondary);
}

.btn_report:hover {
    background: rgba(37, 123, 76, 0.825);
}

.btn_cancel {
    background: var(--color-gray-2);
    color: gray;
    border: 1px solid gray;
}

.btn_cancel:hover {
    box-shadow: 0px 0px 6px gray;
}

.location_pag {
    background: var(--color-primary);
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_body {
    max-width: 60%;
    max-height: 80%;
    background: white;
    padding: 14px;
    border-radius: var(--border-radius_gen);
    text-align: center;

    animation: swipe-up 0.4s linear 1;
}

@keyframes swipe-up {
    0% {
        transform: translateY(150%);
    }

    40% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0%);
    }
}

.modal_body-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.modal_body-msj {
    text-align: start;
}

.modal_body-footer {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    color: gray;
}

.modal_body-btn {
    margin: 2px;
}

/* LOADER */

.loader {
    margin: 0px auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--color-secondary);
    border-width: 6px 4px 2px 0px;
    animation: loader_anim 0.8s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes loader_anim {
    100% {
        transform: rotateZ(360deg);
    }
}